# Core
Django>=5.0,<6.0

# Tailwind integration helpers
django-browser-reload>=1.8.0
django-widget-tweaks

# Database (Railway usually defaults to Postgres)
psycopg2-binary>=2.9

# Static files handling
whitenoise>=6.5

# Env vars loader
python-dotenv>=1.0.1
