<!DOCTYPE html>
<html>
<head>
    <title>All Courses</title>
    {% load tz %}
    <script>
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.cookie = "user_timezone=" + tz + ";path=/";
    </script>
</head>
<body>
    <h1>All Courses</h1>

    {% if courses %}
        <ul>
        {% for course in courses %}
            <li>
            <a href="{% url 'course-detail' course.id %}"> {{ course.title }} </a> - {{ course.createdDate|localtime }}
            </li>
        {% endfor %}
        </ul>
            
    {% else %}
        <p>No courses found.</p>
    {% endif %}
</body>
</html>
