{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LibreCourse - Queso{% endblock %}</title>

    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    

</head>
<body>
    
    <!-- Main Content -->
    <main class="">
        <!-- Page Content -->
        {% block content %}
        {% endblock %}
    </main>
    

</body>
</html>