{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="">

<form method="post" class="">

    {% csrf_token %} 

    {% comment %} Form Title {% endcomment %}

    <div class="">
        <p class="">Login</p>
    </div>

    {% comment %} Form errors {% endcomment %}
    {% if form.errors %}

    <div class="">
            <div class="">Please correct the following errors:</div>
            <p class="">{{form.non_field_errors}}</p> 
        </div>
    {% endif %}

    {% comment %} Email {% endcomment %}

    <div class="">
        <p class="" for="{{form.email.id_for_label}}">Email</p>
        <div class=""></div>
        {% render_field form.email class="form-input" %}
    </div>

    {% comment %} Password {% endcomment %}

    <div class="">
        <p class="" for="{{form.password.id_for_label}}">Password</p>
        <div class=""></div>
        {% render_field form.password class="form-input" %}
    </div>
    
    <button type="submit" class="">
        Login
    </button>

</form>

</div>
{% endblock %}
