{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

<form action="POST" class="form-grid">

    {% csrf_token %} 

    {% comment %} Form Title {% endcomment %}

    <div class="container ">
        <p class="section-header">Sign Up</p>
        <div class="gradient-line"></div>
    </div>

    
    {% comment %} Form errors {% endcomment %}

    {% if form.errors %}
        <div>
            <div class="text-secondary">Please correct the following errors:</div>
            <p class="text-secondary">{{form.non_field_errors}}</p> 
        </div>

    
    {% endif %}

    {% comment %} Username {% endcomment %}

    <div class="container">
        <p class="form-label" for="{{form.username.id_for_label}}">Username</p>
        <div class="decorative-line"></div>
        {% render_field form.username class="form-input" %}

        {%if form.username.errors%}
            <p class="text-secondary">{{ form.username.errors.0 }}</p>
        {%endif%}

        <p class="text-secondary">Required. 45 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
    </div>
    
</form>

</div>
{% endblock %}
